.wrapper {
  width: auto;
  border-radius: 40px;
  background-color: var(--color-decorative-300);
  margin-left: 20px;
}

.review {
  background-color: var(--color-decorative-300);
  margin-left: 5px;
}

.rating {
}