.backgroundWrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.block {
  /* display: block; */
  height: 20vh;
}

.headerWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0px 20px;
  margin: 10px;
}

@media (max-width: 450px) {
  .headerWrapper {
    align-items: center;
  }
}

.title {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  font-size: xx-large;
}

/* .headerRating {
  text-align: center;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 9999;
} */

.headerItem {
  margin: 0;
  padding: 0;
}

.action {
  width: fit-content;
  display: flex;
  margin: auto;
}

.gameImage {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  aspect-ratio: 16/9;
  opacity: 0.5;
}

@media (max-width: 450px) {
  .gameImage {
    text-align: center;
    margin-bottom: 20px;
  }
}

.reviewsHeader {
  display: flex;
  justify-content: center;
}

.reviewContainer {
  padding-inline-start: 0px !important;
}

.noReviews {
  text-align:  center;
  margin-top: 2em;
}

/* .background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('https://i.stack.imgur.com/CjzQS.jpg');
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
} */