.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 16px;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: hsl(0deg 0% 0% / 0.75);
}
.dialog {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 32px;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  color: white;
  transform: translateY(-100%);
  cursor: pointer;
  background: transparent;
  border: none
}
@media (max-width: 450px) {
  .wrapper {
    display: block;
    padding: 0;
  }

  .dialog {
    height: 100%;
    width: 100%;
  }

  .closeBtn {
    top: 85px;
    right: 23px;
  }
}