.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  padding: 0 var(--viewport-padding);
  margin-right: auto;
  background-color: var(--color-background);
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.actionsRight {
  display: flex;
  justify-content: space-between;
}
.action {
  display: flex;
  font-size: xx-large;
  border: none;
  background: transparent;
  width: fit-content;
  height: fit-content;
  align-items: center;
  border-radius: 1000px;
  color: var(--color-text);
  cursor: pointer;
  transition: background 200ms;
}
.action:hover {
  background: var(--color-decorative-100);
}
.action svg {
  display: block;
}

.rightHeader {
  display: flex;
  justify-content: space-between;
}