.game {
  width: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: var(background-color);
  background-image: linear-gradient(
    to top, transparent, var(--color-backdrop-highlight)
  );
  background-repeat: no-repeat; */
}

.gameName {
  margin-bottom: 10px;
}

.gameImage {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.fill {
  display: none;
}