.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 20%;
}

.label {
  margin: 1rem;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
.sidebar label {
  cursor: pointer;
}

.sidebarItem ul {
  margin-bottom: 5px;
  font-size: large;
  padding-inline: 10px;
  padding-inline-start: 10px;
}
.searchBox {
  margin-bottom: 2rem;
  text-align: center;
}
.searchBox input {
  width: 50%;
}

.hits {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  flex: 1 1 25%;
  margin: 10px;
  text-align: center;
}

.image {
  border-radius: 10px;
}
.title {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: row;
  }
}

.rightBar {
  width: 10%;
}

.hit ol {
  list-style: none;
}

.hit p {
  margin-bottom: 0;
}

.hit li {
  margin-bottom: 2rem;
}

.link {
  display: block;
  width: fit-content;
}

.action {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: auto;
  width: 50px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

@media (min-width: 751px) {
  .action {
    display: none;
  }
  .mobileSidebar {
    display: none;
    transform: none;
  }
}
