.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.label {
  font-size: x-large;
}

.review {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: auto;
  width: 33%;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: auto;
  width: fit-content;
}

.error {
  color: red;
  font-size: large;
}