.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: -webkit-fill-available;
  height: auto;
}

@media (max-width: 30rem) {
  .reviewForm {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
}

.label {
  font-size: x-large;
}

.review {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: auto;
}

@media (max-width: 30rem) {
  .review {
    width: 60vw;
  }
}

.rating {
  color: red;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 30rem) {
  .rating {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: auto;
  width: auto;
}

.error {
  color: red;
  font-size: large;
}

.closeButton {
  flex-shrink: 0;
  border: none;
  background: transparent;
  padding: 16px;
  cursor: pointer;
}