.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: gray;
  border-radius: 10px;
}

.label {
  font-size: x-large;
}

.review {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: auto;
  width: 80%;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: auto;
  width: 20%;
}

.error {
  color: red;
  font-size: large;
}

.closeButton {
  flex-shrink: 0;
  border: none;
  background: transparent;
  padding: 16px;
  cursor: pointer;
}